@use '../base/variables';

a {
  color: var(--color-link-dark);

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid var(--color-pri-300);
    outline-offset: 1px;
  }

  &.tc-link-blue-dark {
    color: var(--color-link-blue-dark);
  }
}