// === Flash Highlight ===
@keyframes sdrzm-flash {
  0% { background-color: var(--color-sec-100); }
  100% { background-color: transparent; }
}

.is-flashing {
  animation: sdrzm-flash 1.5s ease-out;
}

// === Pointer Cursor ===
.cursor-pointer {
  cursor: pointer !important;
}

// === User Interaction ===
.sel-none {
  user-select: none !important;
}